#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainPage{
  flex-grow: 1;
}

.banner{
  object-fit: cover;
  height: 500px;
  width: 100%;
}

.card-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#formDescripcion{
  height: 150px;
  resize: none;
}

.inputIngrediente{
  width: 100%;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .inputIngrediente{
    width: 31% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .inputIngrediente{
    width: 32% !important;
  }
}